<template>
	<transition name="scale">
		<div class="modal" v-if="showingAddModel">
			<div class="modalContainer">
				<div class="modalHeader">
					<p class="fleft">{{modalHeading}}</p>
					<p class="fright modalClose" @click="$emit('modalClose')">x</p>
					<div class="clear"></div>
				</div>
				<div class="modalContent">
					<slot></slot>
				</div>

				<div class="modalFooter">
					<button class="fright btnClose" @click="$emit('modalClose')">close</button>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</transition>
</template>
<script type="text/javascript">
	export default{
		name:"modal",
		computed:{
			showingAddModel(){
				return this.cond;
			}
		},
		props:["cond","modalHeading"]
	}
</script>