<template>
  <div class="login">
    <div class="loginHeader">
      User Login
    </div>
    <div class="loginContainer">
      <table>
        <tr>
          <td>Name</td>
          <td>:</td>
          <td><input type="text" v-model="user.username" placeholder="your user name"></td>
        </tr>
        <tr>
          <td>password</td>
          <td>:</td>
          <td><input type="password" v-model="user.password" placeholder="your user password"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><button @click="loginNow()" class="addBtn">Login</button></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      user:{
        username:"",
        password: ""
      }
    }
  },

  methods:{
    loginNow(){
      var formData = this.toFormData(this.user);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/api.php?action=login",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              })
            }else{
              localStorage.setItem("token",  res.data.token);
              this.$router.push({name:"admin"});
            }
      });
    },
    toFormData:function(obj){
        var form_data = new FormData();
        for(var key in obj){
          form_data.append(key,obj[key]);
        }
        return form_data
      }
  }
}
</script>