<template>
  <div class="admin">
    <div id="header">
      <h1 class="fleft"> Simple E comerce</h1>
      <a class="fright" href="" @click="logoutNOw()">Logout</a>
    </div>
    <div id="sidebar">
      <ul class="nav">
        <li>
          <router-link to="category">Category</router-link>
        </li>
        <li>
          <router-link to="Supplier">Supplier</router-link>
        </li>
        <li>
          <router-link to="product">Product</router-link>
        </li>
        <li>
          <router-link to="Shop">Category</router-link>
        </li>
       </ul>
    </div>
    <div id="main">
        <router-view/>
    </div>
    
  </div>
</template>

<script>
export default {
  name: 'Admin',
  data () {
    return {
    }
  },
  mounted(){
    var token = localStorage.getItem("token");
    if(!token){
      this.$router.push({name:"loging"});
    }
  },

  methods:{
    logoutNOw(){
      localStorage.setItem("token","");
      this.$router.push({name:"login"});
    }
  }
}
</script>