<template>
  <div>
    <modal modalHeading="Add New Category" :cond="showingAddModel"  @modalClose="showingAddModel=false">
      <table>
        <tr>
          <td>User Name:</td>
          <td>
            <input type="text" id="categoryName" v-model="newCategory.name" placeholder="category name here">
          </td>
        </tr>
        <tr>
          <td>User Name:</td>
          <td>
            <textarea type="text"  v-model="newCategory.description" placeholder="write sort description"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btnSave" @click="saveCategory()">Save</button>
          </td>
        </tr>
      </table>
    </modal>

    <modal modalHeading="Update this Category" :cond="showingUpdatModal"  @modalClose="showingUpdatModal=false">
      <table>
        <tr>
          <td>User Name:</td>
          <td>
            <input type="text" id="categoryName" v-model="updateCategory.name" placeholder="category name here">
          </td>
        </tr>
        <tr>
          <td>User Name:</td>
          <td>
            <textarea type="text"  v-model="updateCategory.description" placeholder="write sort description"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btnSave" @click="updateThisCategory()">Save</button>
          </td>
        </tr>
      </table>
    </modal>


    <modal modalHeading="Delete Category" :cond="showingDeleteModal"  @modalClose="showingDeleteModal=false">
      <table>
        <tr>
          <td>
            You are going to delete <span style="color:red">{{updateCategory.name}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btnSave" @click="deleteCategory()">Yes</button>
            <button class="btnClose" @click="showingDeleteModal=false;">No</button>
          </td>
        </tr>
      </table>
    </modal>

    <h1 class="fleft">Category</h1>
    <button class="addBtn fright" @click="showingAddModel= true;">Add Category</button>
    <div class="clear"></div>
    <hr>    
    <table class="nice-table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="category in categories">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        <td><button class="edit" @click="showingUpdatModal=true; updateCategory = category;">Edit</button></td>
        <td><button class="delete" @click="showingDeleteModal=true; updateCategory = category;">Delete</button></td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Category',
  data () {
    return {
      showingAddModel:false,
      showingUpdatModal:false,
      showingDeleteModal:false,
      newCategory:{
        name:"",
        description:""
      },
      categories:[],
      updateCategory:{}
    }
  },
    mounted(){
      this.init();
    },

  methods:{
    init(){
      this.$axios.get("http://localhost/phpandVue/category.php?action=read").then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: "data not found"
              });
            }else{
              this.categories = res.data.category;
            }
      });
    },

    saveCategory(){

      if(!this.newCategory.name){
        this.$iziToast.error({
            title: 'Error',
            message: "Category Name can not be empty"
        });
        var categoryInput = document.getElementById("categoryName");
        categoryInput.focus();
        return;
      }

      var formData = this.toFormData(this.newCategory);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/category.php?action=create",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingAddModel = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.newCategory="";
            this.init();
      });
    },
    updateThisCategory(){
      var formData = this.toFormData(this.updateCategory);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/category.php?action=update",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingUpdatModal = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.updateCategory = "";
      });
    },
    deleteCategory(){
      var formData = this.toFormData(this.updateCategory);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/category.php?action=delete",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingDeleteModal = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.updateCategory = "";
            this.init();
      });
    },
    toFormData:function(obj){
        var form_data = new FormData();
        for(var key in obj){
          form_data.append(key,obj[key]);
        }
        return form_data
      }
  }
}
</script>