<template>
  <div>
    <modal modalHeading="Add New Product" :cond="showingAddModel"  @modalClose="showingAddModel=false">
      <table>
        <tr>
          <td>User Name:</td>
          <td>
            <input type="text" id="productName" v-model="newProduct.name" placeholder="product name here">
          </td>
        </tr>
        <tr>
          <td>Categories</td>
          <td>
            <select>
              <option value="">  select one </option>
              <option v-for="cat in allCategories" :value="cat.id"> {{ cat.name}} </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Suppliers</td>
          <td>
            <select>
              <option value="">  select one </option>
              <option v-for="supplier in allSuppliers" v-bind:value="supplier.id"> {{ supplier.name}} {{supplier.id}} </option>
            </select>
          </td>
        </tr>

        <tr>
          <td>Price</td>
          <td>
            <input type="text" v-model="newProduct.price" placeholder="price">
            <label><input type="checkbox" v-model="newProduct.negotiable" >Negotiable</label>
          </td>
        </tr>

         <tr>
          <td>Image</td>
          <td>
            <input type="file" id="image" @change="onfileChange">
          </td>
        </tr>

         <tr>
          <td></td>
          <td>
            <progress :value="percent" max="100" v-if="percent != 0 && percent != 100"></progress>
            <span v-if="percent != 0 && percent != 100"></span></br></br>
            <img :src="'http://localhost/phpandVue/' + newProduct.image" alt = "no image" class="thumbnile">
          </td>
        </tr>

         <tr>
          <td>Description:</td>
          <td>
            <textarea type="text"  v-model="newProduct.description" placeholder="write sort description"></textarea>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <button class="btnSave" @click="saveProduct()">Save</button>
          </td>
        </tr>
      </table>
    </modal>

    <modal modalHeading="Update this Product" :cond="showingUpdatModal"  @modalClose="showingUpdatModal=false">
      <table>
        <tr>
          <td>User Name:</td>
          <td>
            <input type="text" id="productName" v-model="updateProduct.name" placeholder="product name here">
          </td>
        </tr>
        <tr>
          <td>User Name:</td>
          <td>
            <textarea type="text"  v-model="updateProduct.description" placeholder="write sort description"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btnSave" @click="updateThisProduct()">Save</button>
          </td>
        </tr>
      </table>
    </modal>


    <modal modalHeading="Delete Product" :cond="showingDeleteModal"  @modalClose="showingDeleteModal=false">
      <table>
        <tr>
          <td>
            You are going to delete <span style="color:red">{{updateProduct.name}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btnSave" @click="deleteProduct()">Yes</button>
            <button class="btnClose" @click="showingDeleteModal=false;">No</button>
          </td>
        </tr>
      </table>
    </modal>

    <h1 class="fleft">Product</h1>
    <button class="addBtn fright" @click="showingAddModel= true;">Add Product</button>
    <div class="clear"></div>
    <hr>    
    <table class="nice-table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="product in products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td><button class="edit" @click="showingUpdatModal=true; updateProduct = product;">Edit</button></td>
        <td><button class="delete" @click="showingDeleteModal=true; updateProduct = product;">Delete</button></td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Product',
  data () {
    return {
      showingAddModel:false,
      showingUpdatModal:false,
      showingDeleteModal:false,
      newProduct:{
        name:"",
        description:"",
        category:"",
        supplier:"",
        image:"uploads/default.png",
        negotiable:true,
        price:0
      },
      allCategories:[],
      allSuppliers:[],
      products:[],
      updateProduct:{},
      percent:0
    }
  },
    mounted(){
      this.init();
    },

  methods:{
    init(){


      this.$axios.get("http://localhost/phpandVue/category.php?action=read").then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: "data not found"
              });
            }else{
              this.allCategories = res.data.category;
            }
      });


      this.$axios.get("http://localhost/phpandVue/supplier.php?action=read").then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: "data not found"
              });
            }else{
              this.allSuppliers = res.data.supplier;
            }
      });

      this.$axios.get("http://localhost/phpandVue/product.php?action=read").then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: "data not found"
              });
            }else{
              this.products = res.data.product;
            }
      });
    },



    onfileChange(e){
        var _this = this;
        var files = e.target.files || e.dataTransfers.file;
        var file = files[0];
        var fd = new FormData();
        fd.append("image", file, file.name);
        this.$axios.post("http://localhost/phpandVue/product.php?action=image",fd,{
          onUploadProgress:function(uploadEvent){
            _this.percent = Math.round((uploadEvent.loaded / uploadEvent.total)* 100);
          }
        }).then(res=>{
          _this.newProduct.image = res.data.uploadedUrl;
        });
    },

    saveProduct(){
      console.log(this.newProduct);
      return;
      if(!this.newProduct.name){
        this.$iziToast.error({
            title: 'Error',
            message: "Product Name can not be empty"
        });
        var productInput = document.getElementById("productName");
        productInput.focus();
        return;
      }

      var formData = this.toFormData(this.newProduct);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/product.php?action=productCreate",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingAddModel = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.newProduct="";
            this.init();
      });
    },
    updateThisProduct(){
      var formData = this.toFormData(this.updateProduct);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/product.php?action=update",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingUpdatModal = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.updateProduct = "";
      });
    },
    deleteProduct(){
      var formData = this.toFormData(this.updateProduct);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/product.php?action=delete",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingDeleteModal = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.updateProduct = "";
            this.init();
      });
    },
    toFormData:function(obj){
        var form_data = new FormData();
        for(var key in obj){
          form_data.append(key,obj[key]);
        }
        return form_data
      }
  }
}
</script>