<template>
  <div>
    <modal modalHeading="Add New Supplier" :cond="showingAddModel"  @modalClose="showingAddModel=false">
      <table>
        <tr>
          <td>User Name:</td>
          <td>
            <input type="text" id="supplierName" v-model="newSupplier.name" placeholder="supplier name here">
          </td>
        </tr>
        <tr>
          <td>User Name:</td>
          <td>
            <textarea type="text"  v-model="newSupplier.description" placeholder="write sort description"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btnSave" @click="saveSupplier()">Save</button>
          </td>
        </tr>
      </table>
    </modal>

    <modal modalHeading="Update this Supplier" :cond="showingUpdatModal"  @modalClose="showingUpdatModal=false">
      <table>
        <tr>
          <td>User Name:</td>
          <td>
            <input type="text" id="supplierName" v-model="updateSupplier.name" placeholder="supplier name here">
          </td>
        </tr>
        <tr>
          <td>User Name:</td>
          <td>
            <textarea type="text"  v-model="updateSupplier.description" placeholder="write sort description"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btnSave" @click="updateThisSupplier()">Save</button>
          </td>
        </tr>
      </table>
    </modal>


    <modal modalHeading="Delete Supplier" :cond="showingDeleteModal"  @modalClose="showingDeleteModal=false">
      <table>
        <tr>
          <td>
            You are going to delete <span style="color:red">{{updateSupplier.name}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btnSave" @click="deleteSupplier()">Yes</button>
            <button class="btnClose" @click="showingDeleteModal=false;">No</button>
          </td>
        </tr>
      </table>
    </modal>

    <h1 class="fleft">Supplier</h1>
    <button class="addBtn fright" @click="showingAddModel= true;">Add Supplier</button>
    <div class="clear"></div>
    <hr>    
    <table class="nice-table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="supplier in suppliers">
        <td>{{supplier.id}}</td>
        <td>{{supplier.name}}</td>
        <td>{{supplier.description}}</td>
        <td><button class="edit" @click="showingUpdatModal=true; updateSupplier = supplier;">Edit</button></td>
        <td><button class="delete" @click="showingDeleteModal=true; updateSupplier = supplier;">Delete</button></td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Supplier',
  data () {
    return {
      showingAddModel:false,
      showingUpdatModal:false,
      showingDeleteModal:false,
      newSupplier:{
        name:"",
        description:""
      },
      suppliers:[],
      updateSupplier:{}
    }
  },
    mounted(){
      this.init();
    },

  methods:{
    init(){
      this.$axios.get("http://localhost/phpandVue/supplier.php?action=read").then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: "data not found"
              });
            }else{
              this.suppliers = res.data.supplier;
            }
      });
    },

    saveSupplier(){

      if(!this.newSupplier.name){
        this.$iziToast.error({
            title: 'Error',
            message: "Supplier Name can not be empty"
        });
        var supplierInput = document.getElementById("supplierName");
        supplierInput.focus();
        return;
      }

      var formData = this.toFormData(this.newSupplier);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/supplier.php?action=create",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingAddModel = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.newSupplier="";
            this.init();
      });
    },
    updateThisSupplier(){
      var formData = this.toFormData(this.updateSupplier);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/supplier.php?action=update",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingUpdatModal = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.updateSupplier = "";
      });
    },
    deleteSupplier(){
      var formData = this.toFormData(this.updateSupplier);
      this.$eventBus.$emit("loadingstatus",true);
      this.$axios.post("http://localhost/phpandVue/supplier.php?action=delete",formData).then(res=>{
              this.$eventBus.$emit("loadingstatus",false);
              this.showingDeleteModal = false;
            if(res.data.error){
              this.$iziToast.error({
                  title: 'Error',
                  message: res.data.message
              });
            }else{
              this.$iziToast.success({
                  title: 'Success',
                  message: res.data.message
              });
            }
            this.updateSupplier = "";
            this.init();
      });
    },
    toFormData:function(obj){
        var form_data = new FormData();
        for(var key in obj){
          form_data.append(key,obj[key]);
        }
        return form_data
      }
  }
}
</script>